/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
	#phone-edit{
		margin-left:0;
	}
	.free-consulting-form  {
		margin-bottom: 250px;

	}
	.footer {
    height: 415px;
	}
	.bpic {
		display: none;
	}
	.bpic1 {
		display: none;
	}
	.free-consulting-form  {
		margin-top: -50px;
	}
	/*header*/
	.container {
		overflow: hidden;
	}
	.preparation-document {
		width: 100%;
		margin-top: -421px;
	}
	.main-header {
		width: 100%;
		height: 910px;
	}
	.navigate-wrapper {
		position: absolute;
		width: 99%;
		background: rgba(77,77,77,0.55);
		margin-top: 60px;
		margin-left: -13px;
	}
	.company-logo {
		width: 80%;
	}
	.navigate {
		width: 100%;
		margin: 0 7%;
	}
	.main-navigate li {
		width: 15%;
	}
	.company-number {
		float: left;
		width: 150px;
		margin: 0 calc(25%);
		margin-top: 20px;
		margin-bottom: 25px;
	}
	.callback-order {
		width: 77%;
		margin: 20px calc(-36%);
	}
	.information-block h1 {
		width: 100%;
		font-size: 40px;
	}
	.information-block h4 {
		width: 100%;
		margin-bottom: -105px;
	}
	.help-cpo {
		width: 100%;
	}
	.application-block {
		width: 100%;
		height: auto;
		margin: 0;
	}
	.application-title h3 {
		font-size: 20px;
		margin-top: 20px;
		line-height: 30px;
	}
	.application-title p {
		font-size: 15px;
	}
	.application-block label {
		margin-left: 35px;
	}
	.application-block button {
		width: 20%;
		margin-bottom: 20px;
		margin-left: 3px;
	}
	.application-block input[type=text] {
		width: 70%;
		margin: 20px 0;
	}
	.application-block form b {
		margin: 0 15px;
	}
	/*Section Preparation Document*/
	.preparation-box {
		width: 100%;
		height: auto;
		margin-top: 550px;
	}
	.preparation-box-title {
		width: 100%;
		height: auto;
		margin-left: 0;
	}
	.preparation-box-title h1 {
		width: 100%;
		line-height: 50px;
		word-wrap: break-word;
	}
	.preparation-content {
		width: 100%;
		margin-left: 0;
	}
	.preparation-content-box {
		width: 48%;
	}
	.preparation-content-box p {
		margin-bottom: 0px;
		height: auto;
	}
	.all-in-box {
		width: 100%;
	    height: 355px;
		margin-top: 50px;
		margin-bottom: 10px;
	}
	.all-in-title {
		width: 100%;
	}
	.all-in-title p {
		width: 100%;
		margin-left: 4px;
	}
	.all-in-price {
		width: 100%;
		margin: 0 -37%;
	}
	.free-consultation {
		width: 100%;
		font-size: 17px;
		margin: 0 0;
		line-height: 0;
	}
	.free-consultation i {
		font-size: 25px;
		margin-left: 25px;
	}
	.stages-of-services {
		width: 100%;
		height: 400px;
		margin-top: 60px;
	}
	.stages-of-services h1 {
		width: 100%;
		font-size: 24px;
		font-weight: 700;
		line-height: 35px;
	}
	.stages-of-services .dots-line {
		display: none;
	}
	.stages-of-services a {
		float: none;
		position: absolute;
		display: block;
		margin-top: 250px;
		margin-bottom: 100px;
	}
	.list-line-pic {
		margin-left: -174px !important;
	}
	.stages-of-services-list {
		width: 80%;
		margin-top:  -25px;
		margin-left: -30px;
		line-height: 55px;
	}
	./*Specialist work*/
	.specialist-work {
		width: 100%;
	}
	.specialist-price {
		width: 100%;
		height: 1210px;
	}
	.specialist-price-title {
		width: 100%;
		height: 75px;
		margin-left: 0;
	}
	.specialist-price-title h3 {
		width: 100%;
		line-height: 40px;
	}
	.specialist-all-in {
		width: 100%;
	}
	.specialist-all-in a {
		margin-left: 0;
	}
	.specialist-all-in b {
		margin-left: 0;
	}

	.ready-specialist {
		width: 100%;
		margin-left: 0;
	}
	.specialist-title-second {
		margin: 0 -2.5%;
	}
	.ready-specialist p {
		font-weight: 400;
	}
	.ready-specialist a {
		margin-left: 0;
	}
	.ready-specialist b {
		margin-left: 0;
	}
	.correct-your-specialist {
		width: 100%;
	}
	.specialist-title-end  {
		width: 100%;
		margin-left: 0;
	}
	.specialist-title-end h4 {
		width: 50%;
		margin-left: 27px;
	}
	.specialist-title-end h4 img {
		margin-left: -60px;
	}
	.price-generator {
		height: auto;
	}
	.price-result-box {
    height: auto;
	}
	.price-result {
		width: 50%;
	}
	.check-first-block {
		width:100%;
		margin-left: 0;
		margin-bottom: 27px;
	}
	.check-second-block {
		width: 100%;
		text-align: left;
	}
	.price-result-list {
		width: 50%;
		height: auto;
	}
	.check-first-block label,
	.check-second-block label {
		display: block;
	}
	.check-second-block span, 
	.check-first-block span {
		margin-top: -2px;
		margin-left: -25px;
	}
	/*Second Phase*/
	.second-phase {
		width: 100%;
		margin-top: 20px;
		margin-left: 0;
	}
	.second-phase a {
		margin-left: 10px;
		margin-top: 250px;
	}
	.second-phase-list {
		height: 400px;
		margin-top: -10px;
		line-height: 40px;
		margin-bottom: 25px;
	}

	/*FAQ*/
	.faq-help-box {
		float: left;
		width: 100%;
	}
	.accordion {
		width: 45%;
		padding-left: 5%;
	}
	.accordion .accordion_item {
		width: 100%;
	}
	.accordion-second {
		margin-left: 0px;
	}
	.map-exp img {
		margin-top: 0px;
	}
	/*Experience*/
	.experience-box {
		width: 100%;
	}
	.counter-box {
		width: 100%;
	}
	/*Feedback*/
	
	/*Footer*/
	.contacts {
		width: 100%;
		height: auto;
	}
	.contacts-info {
		width: 100%;
		margin-left: 15px;
		margin-top: -270px;
	}

	.footer-block {
		margin-left: 0;
	}
	.logo-footer {
		display: inline-block;
	}
	.contacts-call {
		margin-bottom: 100px;
	}
	.doc-right {
		display: inline-block;
	}
	.pop_form h3 {
		font-size: 30px;
		font-weight: 700;
		line-height: 35px;
		color: #fff;
	}
	.pop_form p {
		width: 100%;
		color: #fff;
	}
	.pop_form b {
		margin-left: 0;
		font-size: 12px;
		font-weight: 700;
	}
	.pop_form input[type=text] {
		width: 45%;
		height: 42px;
		margin-left: 3%;
		margin-top: 15px;
		outline: none;
		background-color: #070a0d;
		border: 2px solid #707b86;
	}
	.pop_form input[type=textarea] {
		width: 100%;
		height: 78px;
		margin-top: 15px;
		outline: none;
		background-color: #070a0d;
		border: 2px solid #707b86;
	}
	.button-popup {
		width: 35%;
	}

	.contacts-info {
		width: 36%;
	}
	.map-exp {
		margin-bottom: 80px;
	}
	.preparation-content-box {
		margin-bottom: 40px;
	}
	.specialist-title-first img,.specialist-title-second img,.specialist-title-end h4,.specialist-title-end h4 img {
		margin-left: 0;
	}
	.specialist-title-second {
		margin: 0;
	}
	.specialist-all-in p,.ready-specialist p {
		padding-right: 25px;
	}
	.owl-prev {
		margin-left: 82.9%;
	}
	.owl-next {
		margin-left: 94.5%;
	}
	.footerdots{
		display:none;
	}
	.footer-block{
		background: url(../img/footer.png) no-repeat 242px center;
	}
	.faq-help-box h4 {
		margin-top: 40px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.white-wrapper {
		padding-bottom: 1px;
	}
	img.fdots{
		display:none;
	}
	/*header*/
	.container {
		overflow: hidden;
	}
	.preparation-document {
		width: 100%;
		margin-top: -250px;
	}
	.main-header {
		width: 100%;
		height: 910px;
	}
	.navigate-wrapper {
		position: absolute;
		width: 99%;
		background: #4d4d4d;
		margin-top: 60px;
		margin-left: -13px;
	}
	.company-logo {
		width: 80%;
	}
	.navigate {
		width: 100%;
		margin: 0 7%;
	}
	.main-navigate li {
		width: 15%;
	}
	.company-number {
		float: left;
		width: 150px;
		margin: 0 calc(25%);
		margin-top: 20px;
		margin-bottom: 25px;
	}
	.callback-order {
		width: 77%;
		margin: 20px calc(-36%);
	}
	.information-block h1 {
		width: 100%;
		font-size: 40px;
	}
	.information-block h4 {
		width: 100%;
		margin-bottom: -105px;
	}
	.help-cpo {
		width: 100%;
	}
	.application-block {
		width: 100%;
		height: auto;
		margin: 0;
	}
	.application-title h3 {
		font-size: 20px;
		margin-top: 20px;
		line-height: 30px;
	}
	.application-title p {
		font-size: 15px;
	}
	.application-block label {
		margin-left: 35px;
	}
	.application-block button {
		width: 71%;
		margin-bottom: 20px;
	}
	.application-block input[type=text] {
		width: 90%;
		margin: 20px 0;
	}
	.application-block form b {
		margin: 0 15px;
	}
	/*Section Preparation Document*/
	.preparation-box {
		width: 100%;
		height: auto;
		margin-top: 550px;
	}
	.preparation-box-title {
		width: 100%;
		height: auto;
		margin-left: 0;
	}
	.preparation-box-title h1 {
		width: 100%;
		line-height: 50px;
		word-wrap: break-word;
	}
	.preparation-content {
		width: 100%;
		margin-left: 0;
	}
	.preparation-content-box {
		width: 100%;
	}
	.preparation-content-box p {
		margin-bottom: 45px;
	}
	.all-in-box {
		width: 100%;
		height: 390px;
		margin-top: 50px;
		margin-bottom: 10px;
	}
	.all-in-title {
		width: 100%;
	}
	.all-in-title p {
		width: 100%;
		margin-left: 4px;
	}
	.all-in-price {
		width: 100%;
		margin: 0 -37%;
	}
	.free-consultation {
		width: 100%;
		font-size: 17px;
		margin: 0 0;
		line-height: 0;
	}
	.free-consultation i {
		font-size: 25px;
		margin-left: 25px;
	}
	.stages-of-services {
		width: 100%;
		height: 400px;
		margin-top: 60px;
	}
	.stages-of-services h1 {
		width: 100%;
		font-size: 24px;
		font-weight: 700;
		line-height: 35px;
	}
	.stages-of-services .dots-line {
		display: none;
	}
	.stages-of-services a {
		float: none;
		position: absolute;
		display: block;
		margin-top: 250px;
		margin-bottom: 100px;
	}
	.list-line-pic {
		margin-left: -154px !important;
	}
	.stages-of-services-list {
		width: 80%;
		margin-top:  -25px;
		margin-left: -30px;
		line-height: 55px;
	}
	./*Specialist work*/
	.specialist-work {
		width: 100%;
	}
	.specialist-price {
		width: 100%;
		height: 1210px;
	}
	.specialist-price-title {
		width: 100%;
		height: 80px;
		margin-left: 0;
	}
	.specialist-price-title h3 {
		width: 100%;
		line-height: 40px;
	}
	.specialist-all-in {
		width: 100%;
		margin-top: 20px;
	}
	.specialist-all-in a {
		margin-left: 0;
	}
	.specialist-all-in b {
		margin-left: 0;
	}
	.ready-specialist {
		width: 100%;
		margin-left: 0;
	}
	.specialist-title-second {
		margin: 0;
	}
	.ready-specialist p {
		font-weight: 400;
	}
	.ready-specialist a {
		margin-left: 0;
	}
	.ready-specialist b {
		margin-left: 0;
	}
	.correct-your-specialist {
		width: 100%;
	}
	.specialist-title-end  {
		width: 100%;
		margin-left: 0;
	}
	.specialist-title-end h4 {
		margin-left: 27px;
	}
	.specialist-title-end h4 img {
		margin-left: -32px;
	}
	.price-generator {
		height: auto;
	}
	.price-result {
		width: 100%;
	}
	.check-first-block {
		width:100%;
		margin-left: 0
	}
	.check-second-block {
		width: 100%;
		text-align: left;
	}
	.price-result-list {
		width: 100%;
		height: auto;
	}
	.check-first-block label,
	.check-second-block label {
		display: block;
	}
	.check-second-block span, 
	.check-first-block span {
		margin-top: 7px;
		margin-left: -25px;
	}
	/*Second Phase*/
	.second-phase {
		width: 100%;
		margin-top: 20px;
		margin-left: 0;
	}
	.second-phase a {
		margin-left: 10px;
		margin-top: 250px;
	}
	.second-phase-list {
		height: 400px;
		margin-top: -10px;
		line-height: 40px;
		margin-bottom: 25px;
	}
	/*FAQ*/
	.faq-help-box {
		float: left;
		width: 100%;
	}
	.accordion {
		width: 100%;
	}
	.accordion .accordion_item {
		width: 100%;
	}
	.accordion-second {
		margin-left: 0px;
	}
	.map-exp img {
		margin-left: 90px;
		margin-top: 0px;
	}

	/*Experience*/
	.experience-box {
		width: 100%;
	}
	.counter-box {
		width: 100%;
	}
	/*Slider*/
	/*Feedback*/
	.owl-prev {
		margin-left: 82.9%;
	}
	.owl-next {
		margin-left: 96.5%;
	}
	/*Footer*/
	.contacts {
		width: 100%;
		height: auto;
	}
	.contacts-info {
		width: 100%;
		margin-left: 15px;
		margin-top: -270px;
	}
	.footer-block {
		width: 100%;
		margin-top: 0;
		margin-bottom: 0px;
	}
	.logo-footer {
		display:inline-block;
	}
	.contacts-call {
		margin-bottom: 100px;
	}
	.doc-right {
		display:inline-block;
	}
	/*POpuP*/
	.pop_form h3 {
		font-size: 30px;
		font-weight: 700;
		line-height: 35px;
		color: #fff;
	}
	.pop_form p {
		width: 100%;
		color: #fff;
	}
	.pop_form b {
		margin-left: 0;
		font-size: 12px;
		font-weight: 700;
	}
	.pop_form input[type=text] {
		width: 45%;
		height: 42px;
		margin-left: 3%;
		margin-top: 15px;
		outline: none;
		background-color: #070a0d;
		border: 2px solid #707b86;
	}
	.pop_form input[type=textarea] {
		width: 100%;
		height: 78px;
		margin-top: 15px;
		outline: none;
		background-color: #070a0d;
		border: 2px solid #707b86;
	}
	.button-popup {
		width: 35%;
	}
	.free-consulting-form  {
		margin-bottom: 250px;
	}
	.pop_form {
		max-height: 665px !important;
	}
	.preparation-content-box p {
		margin-bottom: 0;
	}
	.all-in-content {
		padding: 0 20px;
	}
	.map-exp{
		float: none;
		position: relative;
		top: -65px;
		left: 30px;
	}
	.navigate-wrapper{
		display: none;
	}
	.owl-dots {
		right: 30px;
	}
	.contacts-info address {
		width: 40%;
	}
}



/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	.free-consulting-form  {
		margin-bottom: 250px;
	}
	.pop_form {
		max-height: 665px !important;
	}
	/*header*/
	.container {
		overflow: hidden;
	}
	.preparation-document {
		width: 100%;
		margin-top: -250px;
	}
	.main-header {
		width: 100%;
		height: 910px;
	}
	.navigate-wrapper {
		position: absolute;
		width: 99%;
		background: #4d4d4d;
		margin-top: 60px;
		margin-left: -13px;
	}
	.company-logo {
		width: 80%;
	}
	.navigate {
		width: 100%;
		margin: 0 7%;
	}
	.main-navigate li {
		width: 15%;
	}
	.company-number {
		float: left;
		width: 150px;
		margin: 0 calc(25%);
		margin-top: 20px;
		margin-bottom: 25px;
	}
	.callback-order {
		width: 77%;
		margin: 20px calc(-36%);
	}
	.information-block h1 {
		width: 100%;
		font-size: 40px;
		line-height: 1.2em;
	}
	.information-block h4 {
		width: 100%;
		margin-bottom: -105px;
	}
	.help-cpo {
		width: 100%;
	}
	.application-block {
		width: 100%;
		height: auto;
		margin: 0;
	}
	.application-title h3 {
		font-size: 20px;
		margin-top: 20px;
		line-height: 30px;
	}
	.application-title p {
		font-size: 15px;
	}
	.application-block button {
		width: 90%;
		margin-bottom: 20px;
	}
	.application-block input[type=text] {
		width: 90%;
		margin: 20px 0;
	}
	.application-block form b {
		margin: 0;
	}
	/*Section Preparation Document*/
	.preparation-box {
		width: 100%;
		height: auto;
		margin-top: 550px;
	}
	.preparation-box-title {
		width: 100%;
		height: auto;
		margin-left: 0;
	}
	.preparation-box-title h1 {
		width: 100%;
		line-height: 50px;
		word-wrap: break-word;
	}
	.preparation-content {
		width: 100%;
		margin-left: 0;
	}
	.preparation-content-box {
		width: 100%;
	}
	.preparation-content-box p {
		margin-bottom: 0;
	}
	.all-in-box {
		width: 100%;
		height: 442px;
		margin-top: 50px;
		margin-bottom: 10px;
	}
	.all-in-title {
		width: 100%;
	}
	.all-in-title p {
		width: 100%;
		margin-left: 4px;
	}
	.all-in-price {
		width: auto;
		margin: 0 auto;
		display: table;
		float: none;
	}
	.free-consultation {
		width: 100%;
		font-size: 17px;
		margin: 0 0;
		line-height: 0;
	}
	.free-consultation i {
		font-size: 25px;
		margin-left: 25px;
	}
	.stages-of-services {
		width: 100%;
		height: 400px;
		margin-top: 60px;
	}
	.stages-of-services h1 {
		width: 100%;
		font-size: 24px;
		font-weight: 700;
		line-height: 35px;
	}
	.stages-of-services .dots-line {
		display: none;
	}
	.stages-of-services a {
		float: none;
		position: absolute;
		display: block;
		margin-top: 250px;
		margin-bottom: 100px;
	}
	.list-line-pic {
		margin-left: -174px !important;
	}
	.stages-of-services-list {
		width: 100%;
		margin-top:  0px;
		margin-left: -30px;
		line-height: 23px;
	}
	.stages-of-services-list li {
		width: 100%;
	}
	./*Specialist work*/
	.specialist-work {
		width: 100%;
	}
	.specialist-price {
		width: 100%;
		height: 1210px;
	}
	.specialist-price-title {
		width: 100%;
		height: 120px;
		margin-left: 0;
	}
	.specialist-price-title h3 {
		width: 100%;
		line-height: 40px;
	}
	.specialist-all-in {
		width: 100%;
		margin-top: 0;
	}
	.specialist-all-in a {
		margin-left: 0;
	}
	.specialist-all-in b {
		margin-left: 0;
	}
	.ready-specialist {
		width: 100%;
		margin-left: 0;
	}
	.specialist-title-second {
		margin: 0;
	}
	.ready-specialist p {
		font-weight: 400;
	}
	.ready-specialist a {
		margin-left: 0;
	}
	.ready-specialist b {
		margin-left: 0;
	}
	.correct-your-specialist {
		width: 100%;
	}
	.specialist-title-end  {
		width: 100%;
		margin-left: 0;
	}
	.specialist-title-end h4 {
		width: 100%;
		margin-left: 27px;
	}
	.specialist-title-end h4 img {
		margin-left: -26px;
	}
	.price-generator {
		height: auto;
	}
	.check-first-block {
		width:100%;
		margin-left: 0
	}
	.check-second-block {
		width: 100%;
		text-align: left;
	}
	.price-result-list {
		height: auto;
	}
	.check-first-block label,
	.check-second-block label {
		display: block;
	}
	.check-second-block span, 
	.check-first-block span {
		margin-top: 7px;
		margin-left: -25px;
	}
	/*Second Phase*/
	.second-phase {
		width: 100%;
		margin-top: 20px;
		margin-left: 0;
	}
	.second-phase a {
		margin-left: 10px;
		margin-top: 300px;
	}
	.second-phase-list {
		height: 400px;
		margin-top: -10px;
		line-height: 40px;
		margin-bottom: 25px;
	}
	/*FAQ*/
	.faq-help-box {
		float: left;
		width: 100%;
		margin-top: 0;
	}
	.accordion {
		width: 100%;
	}
	.accordion .accordion_item {
		width: 100%;
	}
	.accordion-second {
		margin-left: 0px;
	}
	.map-exp img {
		margin-left: 0;
		margin-top: 0px;
	}
	/*Experience*/
	.experience {
		height: auto;
	}
	.experience-box {
		width: 100%;
		text-align: center;
	}
	.counter-box {
		width: 100%;
		    height: auto;
	}
	.experience-box h4 {
		margin-bottom: 15px;
	}
	/*Feedback*/
	.owl-prev {
		margin-left: 84.9%;
	}
	.owl-next {
		margin-left: 96.5%;
	}
	/*Footer*/
	.contacts {
		width: 100%;
		height: auto;
	}
	.contacts-info {
		width: 100%;
		margin-left: 15px;
		margin-top: -270px;
	}

	.footer-block {
		width: 150%;
				margin-top: 55px;
		margin-bottom: 0px;
	}
	.logo-footer {
		width: 100%;
		margin-top: 150px;
	}
	.contacts-call {
		margin-bottom: 100px;
	}
	.doc-right {
		float: right;
		width: 100%;
	}
	/*POpuP*/
	.pop_form h3 {
		font-size: 30px;
		font-weight: 700;
		line-height: 35px;
		color: #fff;
	}
	.pop_form p {
		width: 100%;
		color: #fff;
	}
	.pop_form b {
		margin-left: 0;
		font-size: 12px;
		font-weight: 700;
	}
	.pop_form input[type=text] {
		width: 45%;
		height: 42px;
		margin-top: 15px;
		margin-left: 3%;
		outline: none;
		background-color: #070a0d;
		border: 2px solid #707b86;
	}
	.pop_form input[type=textarea] {
		width: 100%;
		height: 78px;
		margin-top: 15px;
		outline: none;
		background-color: #070a0d;
		border: 2px solid #707b86;
	}
	.button-popup {
		width: 100%;
	}

	.specialist-price {
		margin-top: 55px;
	}
	.map-exp {
		float: none;
		position: relative;
		top: 0;
		left: 0;
		margin: 0;
		margin: 0 auto 30px;
	}
	.counter-box {
		width: 100%;
		float: none;
		margin: 0;
	}
	.specialist-work {
    height: auto;
	}
	.owl-nav {
		position: absolute;
		top: -71px;
		right: 3px;
	}
	.owl-prev, .owl-next {
		display: inline-block;
		margin: 0;
		position: relative;
		top: 0;
	}
	.owl-prev {
		margin-right: 43px!important;
	}
	.owl-dots {
		right: 58px;
	}
	.google-map {
		width: 100%;
		height: 200px;
		float: none;
		position: relative;
		z-index: 99;
	}
	.black-bg {
		background: black;
		width: 100%;
		height: 100%;
		float: none;
	}
	.map-gradient {
		display: none;
	}
	.contacts-info address {
		width: 100%;
	}
	.footer {
		height: 330px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	/*header*/
	.google-map {
		display: none;
	}
	.footer {
		height: 372px;
	}
	.container {
		overflow: hidden;
	}
	.preparation-document {
		width: 100%;
		margin-top: -50px;
	}
	.main-header {
		width: 100%;
		height: 910px;
	}
	.navigate-wrapper {
		position: absolute;
		width: 99%;
		background: #4d4d4d;
		margin-top: 60px;
		margin-left: -13px;
	}
	.company-logo {
		width: 80%;
	}
	.navigate {
		width: 100%;
	}
	.main-navigate li {
		width: 100%;
		margin: 0 calc(25%);
	}
	.company-number {
		width: 150px;
		margin: 0 calc(25%);
		margin-top: 20px;
	}
	.callback-order {
		width: 100%;
		margin: 20px calc(-19%);
	}
	.information-block h1 {
		width: 100%;
		font-size: 40px;
	}
	.information-block h4 {
		width: 100%;
		margin-bottom: -105px;
	}
	.help-cpo {
		width: 100%;
	}
	.application-block {
		width: 100%;
		height: auto;
		margin: 0;
	}
	.application-title h3 {
		font-size: 20px;
		margin-top: 20px;
		line-height: 30px;
	}
	.application-title p {
		font-size: 15px;
	}
	.application-block button {
		width: 88%;
		margin-bottom: 20px;
	}
	.application-block input[type=text] {
		width: 90%;
		margin: 20px 0;
	}
	.application-block form b {
		margin: 0;
	}
	/*Section Preparation Document*/
	.preparation-box {
		width: 100%;
		height: auto;
		margin-top: 450px;
	}
	.preparation-box-title {
		width: 100%;
		height: auto;
		margin-left: 0;
	}
	.preparation-box-title h1 {
		width: 100%;
		line-height: 50px;
		word-wrap: break-word;
	}
	.preparation-content {
		width: 100%;
		margin-left: 0;
	}
	.preparation-content-box {
		width: 100%;
	}
	.preparation-content-box p {
		margin-bottom: 0;
	}
	.preparation-content-box{
		height:auto;
		    margin-bottom: 0;
	}
	.all-in-box {
		width: 100%;
		height: 475px;
		margin-top: 50px;
		margin-bottom: 10px;
	}
	.all-in-title {
		width: 100%;
	}
	.all-in-title p {
		width: 100%;
		margin-left: 4px;
	}
	.all-in-price {
		width: auto;
		margin: 0 auto;
	}
	.free-consultation {
		width: 100%;
		font-size: 17px;
		margin: 0 0;
		line-height: 0;
	}
	.free-consultation i {
		font-size: 25px;
		margin-left: 25px;
	}
	.stages-of-services {
		width: 100%;
		height: 400px;
		margin-top: 60px;
	}
	.stages-of-services h1 {
		width: 100%;
		font-size: 24px;
		font-weight: 700;
		line-height: 35px;
	}
	.stages-of-services .dots-line {
		display: none;
	}
	.stages-of-services a {
		float: none;
		position: absolute;
		display: block;
		margin-top: 330px;
		margin-bottom: 100px;
	}
	.list-line-pic {
		margin-left: -174px !important;
	}
	.stages-of-services-list {
		width: 100%;
		margin-top:  0px;
		margin-left: -30px;
		line-height: 23px;
	}
	./*Specialist work*/
	.specialist-work {
		width: 100%;
	}
	.specialist-price {
		width: 100%;
		height: 0;
	}
	.faq-help-box h4 {
		    margin-top: 25px;
	}
	.specialist-price-title {
		width: 100%;
		margin-left: 0;
		background: transparent;
		border: 0;
	}
	.specialist-price-title h3 {
		width: 100%;
		line-height: 40px;
		color: #000;
	}
	.specialist-all-in {
		width: 100%;
	}
	.specialist-post{
		width: 100%;
	}
	.specialist-all-in a {
		margin-left: 0;
	}
	.specialist-all-in b {
		margin-left: 0;
	}
	.specialist-all-in p {
		width: 100%;
	}
	.ready-specialist {
		width: 100%;
		margin-left: 0;
	}
	.specialist-title-second {
		margin: 0 -9%;
	}
	.ready-specialist p {
		font-weight: 400;
		width: 100%;
	}
	.ready-specialist a {
		margin-left: 0;
	}
	.ready-specialist b {
		margin-left: 0;
	}
	.correct-your-specialist {
		width: 100%;
	}
	.correct-your-specialist p {
		width: 100%;
	}
	.specialist-title-first img, .specialist-title-second img, .specialist-title-end h4 img{
		display:block;
	}
	.specialist-title-end  {
		width: 100%;
		margin-left: 0;
	}
	.specialist-title-end h4 {
		width: 100%;
		margin-left: 0;
	}
	.specialist-title-end h4 img {
		margin-left: 0;
	}
	.price-generator {
		height: auto;
	}
	.check-first-block {
		width:100%;
		margin-left: 0
	}
	.check-second-block {
		width: 100%;
		text-align: left;
	}
	.price-result-list {
		height: auto;
	}
	.check-first-block label,
	.check-second-block label {
		display: block;
	}
	.check-second-block span, 
	.check-first-block span {
		margin-top: 7px;
		margin-left: -25px;
	}
	/*Second Phase*/
	.second-phase {
		width: 100%;
		margin-top: 20px;
		margin-left: 0;
	}
	.second-phase a {
		margin-left: 10px;
		margin-top: 370px;
	}
	.second-phase-list {
		height: 400px;
		margin-top: -10px;
		margin-bottom: 25px;
	}
	/*FAQ*/
	.faq-help-box {
		float: left;
		width: 100%;
		margin-top: 0;
	}
	.accordion {
		width: 100%;
	}
	.accordion .accordion_item {
		width: 100%;
	}
	.accordion-second {
		margin-left: 0px;
	}
	.map-exp img {
		margin-left: 0;
		margin-top: 0px;
	}
	/*Experience*/
	.experience-box {
		width: 100%;
	}
	.counter-box {
		width: 100%;
	}
	.owl-nav{
		position:relative;
		top: auto;
		right: auto;
	}
	.owl-dots {
		position: relative;
		top: -50px;
		right: auto;
		left: 28px;
	}
	.owl-next {
		z-index: 999;
		position: relative;
	}
	/*Footer*/
	.contacts {
		width: 100%;
		height: auto;
	}
	.contacts-info {
		width: 100%;
		margin-left: 15px;
		margin-top: -270px;
	}
	.map {
		width: 40%;
		height: 40%;
		margin-top: -400px;
	}
	.footer-block {
		width: 150%;
		margin-top: 400px;
		margin-bottom: 0px;
		width: 100%;
		margin-top: 0;
		margin-bottom: 0px;
		margin: 0;
	}
	.logo-footer {
		width: 100%;
		margin-top: 150px;
		    margin-bottom: 30px;
	}
	.contacts-call {
		margin-bottom: 100px;
	}
	.doc-right {
		float: right;
		width: 100%;
	}
	/*POpuP*/
	.pop_form h3 {
		font-size: 30px;
		font-weight: 700;
		line-height: 35px;
		color: #fff;
	}
	.pop_form p {
		width: 100%;
		color: #fff;
	}
	.pop_form b {
		margin-left: 0;
		font-size: 12px;
		font-weight: 700;
	}
	.pop_form input[type=text] {
		width: 100%;
		height: 42px;
		margin-left: 0;
		margin-top: 15px;
		outline: none;
		background-color: #070a0d;
		border: 2px solid #707b86;
	}
	.pop_form input[type=textarea] {
		width: 100%;
		height: 78px;
		margin-top: 15px;
		outline: none;
		background-color: #070a0d;
		border: 2px solid #707b86;
	}
	.button-popup {
		width: 100%;
	}
	#map {
		top: 1150px;
		left: 0%;
		overflow: visible !important;
	}
	.free-consulting-form  {
		margin-bottom: 250px;
		top: 135px;
	}
	.pop_form {
		max-height: 665px !important;
	}

}
/* Custom, iPhone Retina */
@media only screen and (max-width : 350px) {
	.faq-help-box {
		margin-top: 1925px;
	}
	.faq-help-box h4 {
		margin-top: 0;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.navigate-wrapper {
		display: block !important;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}